<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MRCTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>898F829C1DDEBCED00FCF8D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898F82B51DDEBCED00FCF8D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898F82C01DDEBCED00FCF8D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
